#first {
    background-image: url("../assets/pole-stand.jpg");
}

#second {
    background-image: url("../assets/pole_shoes.jpg");
}

#third {
    background-image: url("../assets/pole-sit.jpg");
}

#fourth {
    background-image: url("../assets/exotic.jpg");
}