@import "layout.css";
@import "post-card.css";
@import "images.css";

h1 {
    color: #fff;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.sub-form {
    margin-top: 20px;
    border: 4px solid #f1f1f1;
    padding: 20px;
    background-color: #f1f1f1;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

input:focus-visible {
    outline: #00a5a5 solid 2px;
}

.sub-btn {
    margin-top: 8px;
    height: 34px;
    color: #006161;
    background-color: #fff;
    font-family: Georgia, sans-serif;
    font-size: 16px;
}

.sub-btn:hover {
    color: #fff;
    background-color: #009a9a;
    cursor: pointer;
}
