@import "social-sharing.css";

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 30px 1fr 25px;
    grid-template-areas: "hd" "nav" "main" "ft";
    font-family: Jazz LET, fantasy;
}

#header {
    grid-area: hd;
    background-color: #009a9a;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

#navbar {
    grid-area: nav;
    display: flex;
}

#navbar a {
    margin: 8px;
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#content {
    grid-area: main;
    font-family: Georgia, sans-serif;
}

#footer {
    grid-area: ft;
}

h2 {
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 20px;
    text-align: justify;
}

.post-text {
    margin: 40px 20px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    max-height: 300px;
}

h3 {
    font-size: 24px;
}

.avatar {
    margin: 15px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bio {
    margin-top: 24px;
    display: flex;
    border-top: solid 1px;
}

.bio-text p {
    font-size: 12px;
}

@media (min-width: 900px) {
    #content {
        display: grid;
        grid-template-columns: 1fr 700px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". txt .";
    }

    .post-text {
        grid-area: txt;
    }
}